.container {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.one,
.two {
    flex-basis: 45%;
    text-align: center;
    font-size: 30px;
    color: #2d3e50;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.one {
    background-color: #eef4ee; /* Green */
    border: 2px solid #2d3e50;
}

.two {
    background-color: #f8f5ef; /* Orange */
    border: 2px solid #2d3e50;
}
