<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="OntologyManager" version="3.0">
	<display-name>Daemon Manager</display-name>
	<servlet>
		<servlet-name>Ontology Manager</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>it.cnr.isti.sedc.bieco.daemonmanager</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ontology Manager</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>